.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--create-or-update-form-box-bg);
  width: 70%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #323232;
  gap: 2rem;
  box-shadow: 0 0 8px 1px var(--create-or-update-form-box-bg);
}

.close-button-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 0.6rem;

  > span {
    cursor: pointer;
  }
}

.toggle-and-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 0.8;
}

.toggle-box {
  display: flex;
  justify-content: start;
  height: 1.2rem;
  width: 3rem;
  border: 2px solid var(--accent-border);
  border-radius: 6rem;
  background-color: var(--accent-bg);
}

.green-background {
  background-color: #004000;
}

.toggle-knob {
  background-color: #aa3bff;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.animation-out {
  animation: 0.2s ease 0s 1 normal slide-out;
  animation-fill-mode: forwards;
}

.animation-in {
  animation: 0.2s ease 0s 1 normal slide-in;
  animation-fill-mode: forwards;
}

.flex-end {
  justify-content: end;
}

.search-on-hymns-box {
  font-size: small;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1.75rem);
    justify-content: end;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(1.75rem);
  }
  to {
    transform: translateX(0.07rem);
    justify-content: start;
  }
}

input {
  height: 100%;
}