.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-box {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  width: 70%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #323232;
  gap: 2rem;
  box-shadow: 0 0 8px 1px #222222;
}

.close-button-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 0.6rem;

  > span {
    cursor: pointer;
  }
}

