.flex-box-center-gap-1-mar-top-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.flex-box-center-gap-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-box-column-center-gap-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.error-box {
  color: red;
  font-size: 0.9rem;
  font-style: italic;
  height: 0.5rem
}
